version: 2
updates:
  - package-ecosystem: "pip"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "maintenance"
      - "dependencies"
    ignore:
      - dependency-name: "grpcio"
    assignees:
      - "pyansys-ci-bot"
    commit-message:
      prefix: "MAINT"
    groups:
      grpc-deps:
        patterns:
          - "google*"
          - "grpc*"
          - "protobuf"
      docs-deps:
        patterns:
          - "*sphinx*"
          - "*jupy*"
          - "ipyvtklink"
          - "myst-parser"
          - "nbconvert"
          - "notebook"
          - "numpydoc"
          - "panel"

  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "maintenance"
    assignees:
      - "pyansys-ci-bot"
    commit-message:
      prefix: "MAINT"
    groups:
      actions:
        patterns:
          - "*"